.app {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;

  h1 {
    font-size: 60px;
    font-weight: 200;
    color: #e9d9d8;
  }
}
